{% extends "individual_setting.html" %} {% block prof %}
<div class="right prof shadow">
  <form
    action="{{ url_for('individual.individuals_pass_settings') }}"
    method="POST"
  >
    <div class="row">
      <div class="col mt-5">
        <div class="form-group">
          <label>Old Password:</label>
          <input
            type="password"
            class="form-control"
            name="old_pass"
            value=""
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col mt-3">
        <div class="form-group">
          <label>New Password:</label>
          <input
            type="password"
            class="form-control"
            name="new_pass"
            value=""
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mt-2">
          <label>Confirm New Password:</label>
          <input
            type="password"
            class="form-control"
            name="confirm_pass"
            value=""
          />
        </div>
      </div>
    </div>
    <div class="row justify-content-end align-content-end text-end mt-4 mx-2">
      <div class="col">
        <button class="btn sa btn-primary" type="submit">Save Changes</button>
      </div>
    </div>
  </form>
</div>
{% endblock prof %}
